.boton-clear{
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color:rgb(250, 158, 135);
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color:white;
    border-radius: 45px;
    border: 2px solid white;
    cursor: pointer;
    user-select: none;

}
.boton-clear:hover {
    background-color:white;
    color: black;
}